.barra_topo{  position: absolute; z-index: 20; width: 100%; background: url(../img/barra_superior.png); height: 6px;}
.layer{ position: absolute; width: 100%; height:100%;background: url(../img/fundo.png);opacity:0.4;filter: alpha(opacity=40);-moz-opacity:0.4; z-index: 1;    margin-top: -5px;}
.livro{         position: absolute;    z-index: 10;    margin-top: -18%;    top: 50%;    left: 50%;    height: 70%;    width: 25%;    margin-left: 7%;}
.video{position: relative; overflow: hidden; }
.logo{ position: absolute;    z-index: 10; top:50%; left:50%;    width: 40%; margin-left: -30%; margin-top: -14%; }
.logo img{width:90%;}
.livro img{width:90%;}
.col-md-2{ padding: 2px;}
.l{ height: 171px; line-height: 171px; text-decoration: none; color:#fff; background-size: 100% !important; text-align: center;  -webkit-transition: 0.8s
    transition: 0.8sfont-size: 1.2em;overflow: hidde;text-decoration: none;}
.l:hover{ background-size: 110% !important; background-position: center; text-decoration: none; color:#fc0; font-size: 1.3em;height: 171px; line-height: 171px; overflow: hidden; -webkit-transition: 0.8s;
    transition: 0.8s


  }
  .l:visited{ text-decoration: none; color:#fff;}
.l:first-child{ line-height: 90px;}
  .ls{background:#684134 url(../img/0.png) no-repeat;     -webkit-transition: 0.8s;
      transition: 0.8s}
  .l1{background:#684134 url(../img/1.png) no-repeat;    -webkit-transition: 0.8s;
      transition: 0.8s }
  .l2{background:#684134 url(../img/2.png) no-repeat;    -webkit-transition: 0.8s;
      transition: 0.8s }
  .l3{background:#684134 url(../img/3.png) no-repeat;    -webkit-transition: 0.8s;
      transition: 0.8s }
  .l4{background:#684134 url(../img/4.png) no-repeat;     -webkit-transition: 0.8s;
      transition: 0.8s}
  .l5{background:#684134 url(../img/5.png) no-repeat;    -webkit-transition: 0.8s;
      transition: 0.8s }



@media screen and (max-width: 600px) {
  .l{ height: 171px; line-height: 171px; width: 50%;text-decoration: none; color:#fff; background-size: 100% !important; text-align: center;  -webkit-transition: 0.8s; display: block; float: left;
      transition: 0.8sfont-size: 1.2em;overflow: hidde;text-decoration: none;}
  .l:hover{ background-size: 110% !important; background-position: center; text-decoration: none; color:#fc0; font-size: 1.3em;height: 171px; line-height: 171px; overflow: hidden; -webkit-transition: 0.8s;
      transition: 0.8s
    }
    .logo img{width:90%;}
    .logo {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        width: 80%;
        margin-left: -45%;
        margin-top: -14%;
    }
.livro {
    position: absolute;
    z-index: 10;
    margin-top: -8%;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 25%;
    margin-left: 25%;
}
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .l{ height: 171px; line-height: 171px; width: 50%;text-decoration: none; color:#fff; background-size: 100% !important; text-align: center;  -webkit-transition: 0.8s; display: block; float: left;
      transition: 0.8s;font-size: 1.2em;overflow: hidde;text-decoration: none;}
  .l:hover{ background-size: 110% !important; background-position: center; text-decoration: none; color:#fc0; font-size: 1.3em;height: 171px; line-height: 171px; overflow: hidden; -webkit-transition: 0.8s;
      transition: 0.8s;
    }
    .logo img{width:90%;}
    .logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    margin-top: -14%;
}
.livro {
    position: absolute;
    z-index: 10;
    margin-top: -8%;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 25%;
    margin-left: 25%;
}
}
body{}
/*teste
